In [5]:
import pandas as pd
import matplotlib.pyplot as plt
 
df=pd.read_csv("unicorntable_india.csv")
df

,No.,Company,Sector,Publicly Listed,Entry Valuation($B),Valuation ($B),Entry,Formar Unicorn,Location,Select Investors
0,1,InMobi,Adtech - Mobile Ads,0,1.00,1.00,11-Sep,0,Bangalore/Singapore,"KPCB, Sherpalo Ventures, SoftBank"
1,2,Flipkart,E-Commerce,1,1.00,37.60,12-Feb,0,Bangalore/Singapore,"Accel, Tiger Global, Naspers, SoftBank, Tencent"
2,3,Mu Sigma,SaaS - Analytics,0,1.00,1.50,13-Feb,0,Bangalore/Chicago,"Accel, Sequoia Capital, General Atlantic"
3,4,Snapdeal,E-Commerce,0,1.80,2.40,14-Oct,1,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof..."
4,5,PayTM,Fintech - Payments & Wallet,1,1.70,16.00,15-Feb,0,Noida,"Saama Capital, Elevation Capital, Alibaba, Ber..."
...,...,...,...,...,...,...,...,...,...,...
97,98,Purplle,E-Commerce - Personal Care & Cosmetics,0,1.10,1.10,22-Jun,0,Mumbai,"JSW Ventures, IvyCap Ventures, Blume Ventures,..."
98,99,Leadsquared,SaaS - CRM,0,1.00,1.00,22-Jun,0,Bangalore,"Stakeboat Capital, Gaja Capital, WestBridge"
99,100,OneCard,Fintech - Credit Cards,0,1.30,1.30,22-Jul,0,Pune,"QED Investors, Matrix Partners India, Sequoia ..."
100,101,Shiprocket,Aggregator - Logistics Services,0,1.23,1.23,22-Aug,0,Delhi,"Lightrock India, Info Edge, Tribe Capital, Tem..."
101,102,Molbio Diagnostics,Healthtech - Diagnostics,0,1.53,1.53,22-Sep,0,Goa,"Temasek, Motilal Oswal"

In [6]:
df.head(5)

,No.,Company,Sector,Publicly Listed,Entry Valuation($B),Valuation ($B),Entry,Formar Unicorn,Location,Select Investors
0,1,InMobi,Adtech - Mobile Ads,0,1.0,1.0,11-Sep,0,Bangalore/Singapore,"KPCB, Sherpalo Ventures, SoftBank"
1,2,Flipkart,E-Commerce,1,1.0,37.6,12-Feb,0,Bangalore/Singapore,"Accel, Tiger Global, Naspers, SoftBank, Tencent"
2,3,Mu Sigma,SaaS - Analytics,0,1.0,1.5,13-Feb,0,Bangalore/Chicago,"Accel, Sequoia Capital, General Atlantic"
3,4,Snapdeal,E-Commerce,0,1.8,2.4,14-Oct,1,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof..."
4,5,PayTM,Fintech - Payments & Wallet,1,1.7,16.0,15-Feb,0,Noida,"Saama Capital, Elevation Capital, Alibaba, Ber..."

In [7]:
df.loc[1]

No.                                                                  2
Company                                                       Flipkart
Sector                                                      E-Commerce
Publicly Listed                                                      1
Entry Valuation($B)                                                1.0
Valuation ($B)                                                    37.6
Entry                                                           12-Feb
Formar Unicorn                                                       0
Location                                           Bangalore/Singapore
Select Investors       Accel, Tiger Global, Naspers, SoftBank, Tencent
Name: 1, dtype: object

In [8]:
len(df)

102

In [10]:
df.head()

,No.,Company,Sector,Publicly Listed,Entry Valuation($B),Valuation ($B),Entry,Formar Unicorn,Location,Select Investors
0,1,InMobi,Adtech - Mobile Ads,0,1.0,1.0,11-Sep,0,Bangalore/Singapore,"KPCB, Sherpalo Ventures, SoftBank"
1,2,Flipkart,E-Commerce,1,1.0,37.6,12-Feb,0,Bangalore/Singapore,"Accel, Tiger Global, Naspers, SoftBank, Tencent"
2,3,Mu Sigma,SaaS - Analytics,0,1.0,1.5,13-Feb,0,Bangalore/Chicago,"Accel, Sequoia Capital, General Atlantic"
3,4,Snapdeal,E-Commerce,0,1.8,2.4,14-Oct,1,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof..."
4,5,PayTM,Fintech - Payments & Wallet,1,1.7,16.0,15-Feb,0,Noida,"Saama Capital, Elevation Capital, Alibaba, Ber..."

In [11]:
df.tail(2)

,No.,Company,Sector,Publicly Listed,Entry Valuation($B),Valuation ($B),Entry,Formar Unicorn,Location,Select Investors
100,101,Shiprocket,Aggregator - Logistics Services,0,1.23,1.23,22-Aug,0,Delhi,"Lightrock India, Info Edge, Tribe Capital, Tem..."
101,102,Molbio Diagnostics,Healthtech - Diagnostics,0,1.53,1.53,22-Sep,0,Goa,"Temasek, Motilal Oswal"

In [13]:
df.Sector

0                         Adtech - Mobile Ads
1                                  E-Commerce
2                            SaaS - Analytics
3                                  E-Commerce
4                 Fintech - Payments & Wallet
                        ...
97     E-Commerce - Personal Care & Cosmetics
98                                 SaaS - CRM
99                     Fintech - Credit Cards
100           Aggregator - Logistics Services
101                  Healthtech - Diagnostics
Name: Sector, Length: 102, dtype: object

In [15]:
df.Sector	.head()

0            Adtech - Mobile Ads
1                     E-Commerce
2               SaaS - Analytics
3                     E-Commerce
4    Fintech - Payments & Wallet
Name: Sector, dtype: object

In [19]:
 df.columns

Index(['No.', 'Company', 'Sector', 'Publicly Listed ', 'Entry Valuation($B)',
       'Valuation ($B)', 'Entry', 'Formar Unicorn', 'Location',
       'Select Investors'],
      dtype='object')

In [20]:
df.columns[2]

'Sector'

In [21]:
df.loc[[0,3,5]]

,No.,Company,Sector,Publicly Listed,Entry Valuation($B),Valuation ($B),Entry,Formar Unicorn,Location,Select Investors
0,1,InMobi,Adtech - Mobile Ads,0,1.0,1.0,11-Sep,0,Bangalore/Singapore,"KPCB, Sherpalo Ventures, SoftBank"
3,4,Snapdeal,E-Commerce,0,1.8,2.4,14-Oct,1,Delhi,"Kalaari Capital, Nexus Ventures, Bessemer, Sof..."
5,6,Ola Cabs,Mobility - Ride Aggregator,0,1.6,7.3,15-Mar,0,Bangalore,"Tiger Global, Matrix Partners, Steadview, Soft..."